.pt-timeline__item--animate-bounce-in.pt-timeline__item--align-left, .pt-timeline__item--animate-bounce-in.pt-timeline__item--align-right {
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s;
  visibility: collapse;
}

.pt-timeline__item--animate-bounce-in.pt-timeline__item--align-right {
  transform: translateX(30px);
}

.pt-timeline__item--animate-bounce-in.pt-timeline__item--align-left {
  transform: translateX(-30px);
}

.pt-timeline__row--animate > .pt-timeline__item--animate-bounce-in.pt-timeline__item--align-left, .pt-timeline__row--animate > .pt-timeline__item--animate-bounce-in.pt-timeline__item--align-right {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .pt-timeline__item--animate-bounce-in.pt-timeline__item--align-left,
  .pt-timeline__item--animate-bounce-in.pt-timeline__item--align-right {
    transform: translateX(30px);
  }
}

.pt-timeline__item--animate-scale {
  transition: transform 0.4s, opacity 0.4s;
  transform: scale(0);
}

.pt-timeline__row--animate > .pt-timeline__item--animate-scale {
  transform: scale(1);
}
