$animation-duration: .4s;
$bounce-in-offset: 30px;

.pt-timeline__item--animate-bounce-in {
  &.pt-timeline__item--align-left,
  &.pt-timeline__item--align-right {
    opacity: 0;
    transition: all $animation-duration;
  }

  &.pt-timeline__item--align-right {
    transform: translateX($bounce-in-offset);
  }

  &.pt-timeline__item--align-left {
    transform: translateX(-$bounce-in-offset);
  }
}

.pt-timeline__row--animate {
  > .pt-timeline__item--animate-bounce-in {
    &.pt-timeline__item--align-left,
    &.pt-timeline__item--align-right {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .pt-timeline__item--animate-bounce-in.pt-timeline__item--align-left,
  .pt-timeline__item--animate-bounce-in.pt-timeline__item--align-right {
    transform: translateX($bounce-in-offset);
  }
}


.pt-timeline__item--animate-scale {
  transition: all $animation-duration;
  transform: scale(0);
}

.pt-timeline__row--animate {
  > .pt-timeline__item--animate-scale {
    transform: scale(1);
  }
}
