$animation-duration: .4s;
$bounce-in-offset: 30px;

.pt-timeline__item--animate-bounce-in {
  &.pt-timeline__item--align-left,
  &.pt-timeline__item--align-right {
    opacity: 0;
    transition: transform $animation-duration, opacity $animation-duration;
    visibility: collapse;
  }

  &.pt-timeline__item--align-right {
    transform: translateX($bounce-in-offset);
  }

  &.pt-timeline__item--align-left {
    transform: translateX(-$bounce-in-offset);
  }
}

.pt-timeline__row--animate {
  > .pt-timeline__item--animate-bounce-in {
    &.pt-timeline__item--align-left,
    &.pt-timeline__item--align-right {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (max-width: 750px) {
  .pt-timeline__item--animate-bounce-in.pt-timeline__item--align-left,
  .pt-timeline__item--animate-bounce-in.pt-timeline__item--align-right {
    transform: translateX($bounce-in-offset);
  }
}
